<!DOCTYPE html>
<html>

<head>
    <title>Add Product</title>
</head>

<body>

    <h1>Add Product</h1>

    <form method="POST">

        <label>Product Name</label><br>
        <input type="text" name="product_name"><br><br>

        <label>Category</label><br>
        <input type="text" name="category"><br><br>

        <label>Buying Price</label><br>
        <input type="number" name="buying_price"><br><br>

        <label>Selling Price</label><br>
        <input type="number" name="selling_price"><br><br>

        <label>Current Stock</label><br>
        <input type="number" name="stock"><br><br>

        <label>Supplier</label><br>
        <input type="text" name="supplier"><br><br>

        <label>Reorder Level</label><br>
        <input type="number" name="reorder_level"><br><br>

        <button type="submit">Save Product</button>

    </form>

</body>

</html>
